{
    "presets": [
      ["env", {"module": false}],
      "stage-2"
    ],
    "plugins": [
      "syntax-dynamic-import",
      "transform-runtime",
      "transform-object-rest-spread",
      [
        "component",
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        }
      ]
    ]
  }
